
.nav{
    xborder-bottom: 1px solid #eaeaeb;
    xtext-align: right;
    height: auto;
    line-height: 70px;
    min-height: 70px;
}
.menu{
    margin: 0 30px 0 0;
}
.menu a{
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    line-height: 70px;
}
label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: none;
    display: none;
    width: 26px;
    float: right;
}
#toggle{
    display: none;
}

@media only screen and (max-width: 500px){
    label{
        display: block;
        cursor: pointer;
    }
    .menu{
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a{
        clear: right;
        display: block;
        border-bottom: 1px solid #eaeaeb;
        margin: 0;
    }
    #toggle:checked + .menu{
        display: block;
    }
}
